!!!
%html{lang: "en"}
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{charset: "utf-8"}/
    %link{href: "assets/images/_rocket/fav-icon-2.png", rel: "icon", type: "image/png"}/
    %title Rocket Elevators
    %meta{content: "", name: "description"}/
    %meta{content: "Jones Tavares", name: "Author"}/
    / mobile settings
    %meta{content: "width=device-width, maximum-scale=1, initial-scale=1, user-scalable=0", name: "viewport"}/
    /[if IE] <meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'>
    / WEB FONTS : use %7C instead of | (pipe)
    %link{href: "https://fonts.googleapis.com/css?family=Open+Sans:300,400,600%7CRaleway:300,400,500,600,700%7CLato:300,400,400italic,600,700", rel: "stylesheet", type: "text/css"}/
    / CORE CSS
    %link{href: "assets/plugins/bootstrap/css/bootstrap.min.css", rel: "stylesheet", type: "text/css"}/
    / REVOLUTION SLIDER
    %link{href: "assets/plugins/slider.revolution/css/extralayers.css", rel: "stylesheet", type: "text/css"}/
    %link{href: "assets/plugins/slider.revolution/css/settings.css", rel: "stylesheet", type: "text/css"}/
    / THEME CSS
    %link{href: "assets/css/essentials.css", rel: "stylesheet", type: "text/css"}/
    %link{href: "assets/css/layout.css", rel: "stylesheet", type: "text/css"}/
    / QUOTE FORM CSS
    %link{href: "assets/css/quote-form.css", rel: "stylesheet", type: "text/css"}/
    / PAGE LEVEL SCRIPTS
    %link{href: "assets/css/header-1.css", rel: "stylesheet", type: "text/css"}/
    %link#color_scheme{href: "assets/css/color_scheme/blue.css", rel: "stylesheet", type: "text/css"}/
  %body.smoothscroll.enable-animation
    / SLIDE TOP
    #slidetop
      .container
        .row
          .col-md-4
            %h6
              %i.icon-heart
              WHY ROCKET ELEVATORS?
            %p We have the conviction that we create the most innovative and reliable products on the market. Contact us today for any questions you might have.
          .col-md-4
            %h6
              %i.icon-envelope
              CONTACT INFO
            %ul.list-unstyled
              %li
                %b Address:
                Address: 418-725 Boulevard Lebourgneuf,
                %br/
                Quebec City - QC, G2J 0C4
                %br/
                Canada
              %li
                %b Phone:
                (418) 555-1234
              %li
                %b Email:
                %a{href: "mailto:info@codeboxx.biz"} info@codeboxx.biz
      %a.slidetop-toggle{href: "#"}
        / toggle button
    / /SLIDE TOP
    / wrapper
    #wrapper
      #header.navbar-toggleable-md.sticky.header-md.clearfix
        / TOP NAV
        %header#topNav
          .container
            / Mobile Menu Button
            %button.btn.btn-mobile{"data-target" => ".nav-main-collapse", "data-toggle" => "collapse"}
              %i.fa.fa-bars
            / Logo
            %a#home-nav.logo.float-left{href: "index.html"}
              %img{alt: "", src: "assets/images/_rocket/R2.png"}/
            .navbar-collapse.collapse.float-right.nav-main-collapse.submenu-dark
              %nav.nav-main
                %ul#topMain.nav.nav-pills.nav-main.nav-onepage
                  %li
                    / HOME
                    %a{href: "index.html", id: ""}
                      HOME
                  %li
                    / SERVICES
                    %a.dropdown-toggle{href: "index.html#services"}
                      SERVICES
                    %ul.dropdown-menu.normal{class: "white-space="}
                      %li
                        %a{href: "residential.html#vacuum-home"} Residential
                      %li
                        %a{href: "commercial.html#observation-elevator"} Commercial
                  %li
                    / PORTFOLIO
                    %a{href: "index.html#portfolio"}
                      PORTFOLIO
                  %li
                    / NEWS
                    %a{href: "index.html#news"}
                      NEWS
                  %li
                    / CLIENTS
                    %a{href: "index.html#clients"}
                      CLIENTS
                  %li
                    / CONTACT
                    %a{href: "index.html#contact"}
                      CONTACT
        / /Top Nav
      / REVOLUTION SLIDER
      .slider.fullwidthbanner-container.roundedcorners
        .fullwidthbanner{"data-height" => "600", "data-navigationstyle" => "preview2", "data-shadow" => "0"}
          %ul.hide
            / SLIDE
            %li{"data-masterspeed" => "600", "data-saveperformance" => "off", "data-slotamount" => "7", "data-title" => "Safety", "data-transition" => "parallaxtobottom"}
              / MAIN IMAGE
              %img{alt: "cover image", "data-bgfit" => "cover", "data-bgposition" => "center top", "data-bgrepeat" => "no-repeat", src: "assets/images/_rocket/3-main-elevators.jpeg"}/
              .tp-caption.white_big.skewfromleft.tp-resizeme{"data-easing" => "Power3.easeInOut", "data-elementdelay" => "0.1", "data-endelementdelay" => "0.1", "data-endspeed" => "600", "data-speed" => "400", "data-splitin" => "words", "data-splitout" => "none", "data-start" => "1500", "data-x" => "471", "data-y" => "100", style: "z-index: 2; color:#fff; font-size:65px; line-height:85px; font-weight:bold; letter-spacing:0; text-shadow:none;"}
                Rocket Elevators
              .tp-caption.content_text_center.skewfromleft.tp-resizeme{"data-easing" => "Power3.easeInOut", "data-elementdelay" => "0.1", "data-endelementdelay" => "0.1", "data-endspeed" => "600", "data-speed" => "500", "data-splitin" => "none", "data-splitout" => "none", "data-start" => "2000", "data-x" => "530", "data-y" => "195", style: "z-index: 3; font-size:20px; color:#fff; font-weight:300; text-shadow:none;"}
                Elevate you home or your commercial building,
                %br/
                Safety, Speed and Style.
              .tp-caption.tp-fade{"data-easing" => "Power3.easeInOut", "data-elementdelay" => "0.1", "data-endelementdelay" => "0.1", "data-endspeed" => "300", "data-speed" => "300", "data-start" => "800", "data-x" => "left", "data-y" => "25", style: "z-index: 4;"}
                / <img src="demo_files/images/thematics/construction/worker-min.png" alt="">
              .tp-caption.skewfromleft.tp-resizeme.un-button-2-lg{"data-easing" => "Power3.easeInOut", "data-elementdelay" => "0.1", "data-endelementdelay" => "0.1", "data-endspeed" => "300", "data-speed" => "300", "data-splitin" => "none", "data-splitout" => "none", "data-start" => "2500", "data-x" => "665", "data-y" => "300", style: "z-index: 5; max-width: auto; max-height: auto; white-space: nowrap;"}
                %a.btn.btn-danger.btn-lg{href: "quote.html"}
                  GET A QUOTE  
                  %i.fa.fa-angle-right
            / SLIDE
            %li{"data-masterspeed" => "600", "data-saveperformance" => "off", "data-slotamount" => "7", "data-title" => "Residential", "data-transition" => "parallaxtobottom"}
              / MAIN IMAGE
              %img{alt: "cover image", "data-bgfit" => "cover", "data-bgposition" => "center top", "data-bgrepeat" => "no-repeat", src: "assets/images/_rocket/residential-elevator.jpeg"}/
              .overlay.dark-4
                / dark overlay [0 to 9 opacity]
              .tp-caption.font-roboto.skewfromleft.tp-resizeme{"data-easing" => "Cubic.easeOut", "data-elementdelay" => "0.1", "data-endelementdelay" => "0.1", "data-endspeed" => "500", "data-speed" => "500", "data-splitin" => "none", "data-splitout" => "none", "data-start" => "1500", "data-x" => "50", "data-y" => "100", style: "z-index: 2; color:#fff; font-size:65px; line-height:85px; font-weight:bold; letter-spacing:0; text-shadow:none;"}
                Residential Elevators
                %br/
                Made affordable
              .tp-caption.skewfromrightshort.tp-resizeme{"data-easing" => "easeInCirc", "data-elementdelay" => "0.1", "data-endelementdelay" => "0.1", "data-endspeed" => "500", "data-speed" => "500", "data-splitin" => "none", "data-splitout" => "none", "data-start" => "1000", "data-x" => "50", "data-y" => "300", style: "z-index: 3; font-size:20px; color:#fff; font-weight:300; text-shadow:none;"}
                The high-end quality of Our Residential Elevators
                %br/
                is unequaled.
              .tp-caption.sfb.tp-resizeme{"data-easing" => "Power3.easeIn", "data-elementdelay" => "1", "data-endelementdelay" => "0.1", "data-endspeed" => "500", "data-speed" => "500", "data-splitin" => "none", "data-splitout" => "none", "data-start" => "1500", "data-x" => "50", "data-y" => "410", style: "z-index: 4; max-width: auto;"}
                %a.btn.btn-danger.btn-lg{href: "residential.html"}
                  RESIDENTIAL SERVICES  
                  %i.fa.fa-angle-right
            / SLIDE
            %li{"data-masterspeed" => "600", "data-saveperformance" => "off", "data-slotamount" => "7", "data-title" => "Commercial", "data-transition" => "parallaxtotop"}
              / MAIN IMAGE
              %img{alt: "cover image", "data-bgfit" => "cover", "data-bgposition" => "center top", "data-bgrepeat" => "no-repeat", src: "assets/images/_rocket/3-commercial-elevators.jpeg"}/
              .overlay.dark-4
                / dark overlay [0 to 9 opacity]
              .tp-caption.font-roboto.skewfromleft.tp-resizeme{"data-easing" => "Cubic.easeOut", "data-elementdelay" => "0.1", "data-endelementdelay" => "0.1", "data-endspeed" => "500", "data-speed" => "500", "data-splitin" => "none", "data-splitout" => "none", "data-start" => "1500", "data-x" => "50", "data-y" => "100", style: "z-index: 2; color:#fff; font-size:65px; line-height:85px; font-weight:bold; letter-spacing:0; text-shadow:none;"}
                A High end brand for
                %br/
                Commercial Elevators
              .tp-caption.skewfromrightshort.tp-resizeme{"data-easing" => "easeInCirc", "data-elementdelay" => "0.1", "data-endelementdelay" => "0.1", "data-endspeed" => "500", "data-speed" => "500", "data-splitin" => "none", "data-splitout" => "none", "data-start" => "1000", "data-x" => "50", "data-y" => "300", style: "z-index: 3; font-size:20px; color:#fff; font-weight:300; text-shadow:none;"}
                From London to Tokyo...
                %br/
                our Lifts impress!
              .tp-caption.sfb.tp-resizeme{"data-easing" => "Power3.easeIn", "data-elementdelay" => "1", "data-endelementdelay" => "0.1", "data-endspeed" => "500", "data-speed" => "500", "data-splitin" => "none", "data-splitout" => "none", "data-start" => "1500", "data-x" => "50", "data-y" => "410", style: "z-index: 4; max-width: auto;"}
                %a.btn.btn-danger.btn-lg{href: "commercial.html"}
                  COMMERCIAL SERVICES  
                  %i.fa.fa-angle-right
          .tp-bannertimer
            / progress bar
      / /REVOLUTION SLIDER
      / <br>
      %hr.m-0/
      / 1px line separator
      / Request a Form
      %section#request-quote
        .container
          .heading-title.heading-dotted.text-center
            %h2 Request A Quote
          / Form Header
          #border-rad-2.p-8.bg-light
            #border-rad.col.p-6.mb-8.bg-white.border
              / Header text
              .row-12.p-3.m-2
                %h4.text-center Please Select A Building Type Option
              %br/
              %hr/
              / Checkbox
              .container.align-items-center.text-center.form-check.form-check-inline.px-5
                %form.type-answer.col-sm-12.m-4
                  %label.checkbox
                    %input#res{name: "radio-btn", type: "radio"}/
                    %i{name: "res"}
                    Residential
                  %label.checkbox
                    %input#comm{name: "radio-btn", type: "radio"}/
                    %i
                    Commercial
                  %label.checkbox
                    %input#corp{name: "radio-btn", type: "radio"}/
                    %i
                    Corporate
                  %label.checkbox
                    %input#hyb{name: "radio-btn", type: "radio"}/
                    %i
                    Hybrid
            #border-rad-3.border.bg-white.p-5
              .row-lg-4.p-3.mt-9
                .col-md-12
                  %form#fields
                    #filled.row.align-items-center
                      #numApartments.form-group.col-sm-4.py-2.mb-2
                        %label Number of Apartments
                        %input#input_apartments.form-control{min: "0", oninput: "validity.valid||(value='');", type: "text"}/
                      #numFloorsHyb.form-group.col-sm-4.py-2.mb-2
                        %label
                          Number of Floors
                          %span.grey.text-red
                            %small (Excluding Basements)
                        %input#input_floorsHyb.form-control{min: "0", oninput: "validity.valid||(value='');", type: "text"}/
                      #numFloorsRes.form-group.col-sm-4.py-2.mb-2
                        %label Number of Floors
                        %input#input_floorsRes.form-control{min: "0", oninput: "validity.valid||(value='');", type: "text"}/
                      #numBasements.form-group.col-sm-4.py-2.mb-2
                        %label Number of Basements
                        %input#input_basements.form-control{min: "0", oninput: "validity.valid||(value='');", type: "text"}/
                      #numBusinesses.form-group.col-sm-4.py-2.mb-2
                        %label Number of Distinct Businesses
                        %input#input_businesses.form-control{min: "0", oninput: "validity.valid||(value='');", type: "text"}/
                      #numParking.form-group.col-sm-4.py-2.mb-2
                        %label Number of Parking Space
                        %input#input_parking.form-control{min: "0", oninput: "validity.valid||(value='');", type: "text"}/
                      #numCages.form-group.col-sm-4.py-2.mb-2
                        %label Number of Elevator Cages Needed
                        %input#input_cages.form-control{min: "0", oninput: "validity.valid||(value='');", type: "text"}/
                      #numCompanies.form-group.col-sm-4.py-2.mb-2
                        %label Number of Separate Tennant Companies
                        %input#input_acompanies.form-control{min: "0", oninput: "validity.valid||(value='');", type: "text"}/
                      #numOccupants.form-group.col-sm-4.py-2.mb-2
                        %label Number of Occupants Per Floor
                        %input#input_occupants.form-control{min: "0", oninput: "validity.valid||(value='');", type: "text"}/
                      #numHours.form-group.col-sm-4.py-2.mb-2
                        %label Number Of Hours Of Activity Per Day
                        %input#input_hours.form-control{max: "24", min: "0", oninput: "validity.valid||(value='');", type: "text"}/
                    / Columns & Shafts
                    .form-group-2.col-md-12.text-center
                      %h4.results.text-center Number Of Columns &amp; Shafts Recommended:
                      %p#showColumns.results
                      %p#showElevators.results
                      .results.row.justify-content-md-center.text-center
                        %p#qtdElevators.text-blue.bg-light
                      %hr/
                      %label.text-center.font-weight-bold Choose a product line to see the estimate
                      %br/
                      / radio buttons for selection of elevators
                      %label.radio
                        %input#1{name: "radio-btn", type: "radio", value: "1"}/
                        %i
                        Standard
                        %span.grey.text-blue
                          %small ($7565/elevator)
                      %label.radio
                        %input#2{name: "radio-btn", type: "radio", value: "2"}/
                        %i
                        Premium
                        %span.grey.text-blue
                          %small ($12,345/elevator)
                      %label.radio
                        %input#3{name: "radio-btn", type: "radio", value: "3"}/
                        %i
                        Excelium
                        %span.grey.text-blue
                          %small ($15,400/elevator)
                      %br/
                      %hr/
                      / Show Prices
                      %h3.text-center Estimated Prices:
                      #estimated.row.justify-content-md-center.text-center
                        .col-sm-4
                          %p#showPrices.text-blue.bg-light
                        .col-sm-4
                          %p#showFees.text-blue.bg-light
                        .col-sm-4
                          %p#showTotal.text-blue.bg-light.font-weight-bold
                      %br/
                      %hr/
                      #reset
                        %button.btn.btn-primary{type: "button"} Clear
                %br/
                %hr/
      / Form Fields
      / FOOTER
      %footer#footer
        .container
          .row
            / col #1
            .col-md-8
              %h3.letter-spacing-1 WHY US?
              / Small Description
              %p
                We have the conviction that we create the most innovative and reliable products on the market. Contact us today for any questions you might have.
              %h2 (418) 555-1234
            / /col #1
            / col #2
            .col-md-4
              %h3.letter-spacing-1 KEEP IN TOUCH
              / Newsletter Form
              %p Subscribe to Our Newsletter to get Important News &amp; Offers
              %form.validate{action: "php/newsletter.php", "data-success" => "Subscribed! Thank you!", "data-toastr-position" => "bottom-right", method: "post"}
                .input-group
                  %span.input-group-addon
                    %i.fa.fa-envelope
                  %input#email.form-control.required{name: "email", placeholder: "Enter your Email", type: "email"}/
                  %span.input-group-btn
                    %button.btn.btn-danger{type: "submit"} Subscribe
              / /Newsletter Form
            / /col #2
        .copyright
          .container
            © All Rights Reserved, Rocket Elevators LTD
      / /FOOTER
    / /wrapper
    / SCROLL TO TOP
    %a#toTop{href: "#"}
    / PRELOADER
    #preloader
      .inner
        %span.loader
    / /PRELOADER
    / JAVASCRIPT FILES
    :javascript
      var plugin_path = 'assets/plugins/';
    %script{src: "assets/plugins/jquery/jquery-3.3.1.min.js"}
    %script{src: "assets/js/scripts.js"}
    / Request quote jQuery
    %script{src: "assets/js/request-quote.js"}
    / REVOLUTION SLIDER
    %script{src: "assets/plugins/slider.revolution/js/jquery.themepunch.tools.min.js"}
    %script{src: "assets/plugins/slider.revolution/js/jquery.themepunch.revolution.min.js"}
    %script{src: "assets/js/view/demo.revolution_slider.js"}
    / PAGELEVEL SCRIPTS
    %script{src: "assets/js/contact.js"}
    /
      GMAP.JS
      http://hpneo.github.io/gmaps/
    %script{src: "//maps.google.com/maps/api/js?key=AIzaSyCqCn84CgZN6o1Xc3P4dM657HIxkX3jzPY"}
    %script{src: "assets/plugins/gmaps.js"}