<!-- SLIDE TOP -->
<div id="slidetop">

  <div class="container">
    
    <div class="row">

      <div class="col-md-4">
        <h6><i class="icon-heart"></i> WHY ROCKET ELEVATORS?</h6>
        <p>We have the conviction that we create the most innovative and reliable products on the market. Contact us today for any questions you might have. </p>
      </div>

      <div class="col-md-4">
        <h6><i class="icon-envelope"></i> CONTACT INFO</h6>
        <ul class="list-unstyled">
          <li><b>Address:</b> Address: 418-725 Boulevard Lebourgneuf, <br /> 
            Quebec City - QC, G2J 0C4  <br /> Canada</li>
          <li><b>Phone:</b> (418) 555-1234</li>
          <li><b>Email:</b> </li>
        </ul>
      </div>

    </div>

  </div>

  <a class="slidetop-toggle" href="#"><!-- toggle button --></a>

</div>
<!-- /SLIDE TOP -->


<!-- wrapper -->
<div id="wrapper">

  <div id="header" class="navbar-toggleable-md sticky header-md clearfix">

    <!-- TOP NAV -->
    <header id="topNav">
      <div class="container">

        <!-- Mobile Menu Button -->
        <button class="btn btn-mobile" data-toggle="collapse" data-target=".nav-main-collapse">
          <i class="fa fa-bars"></i>
        </button>

        <!-- Logo -->
        <a class="logo float-left" href="index.html">
          <%= image_tag "_rocket/R2.png" %>
        </a>

        <div class="navbar-collapse collapse float-right nav-main-collapse submenu-dark">
          <nav class="nav-main">

            <ul id="topMain" class="nav nav-pills nav-main nav-onepage">
              <li class>
                <!-- HOME -->
                <a id="home-nav" class="" href="index.html">
                  HOME
                </a>
              </li>
              <li><!-- SERVICES -->
                <a href="index.html#services" class="dropdown-toggle">
                  SERVICES
                </a>

                <ul class="dropdown-menu white-space= normal">
                  <li>
                    <a href="residential.html#vacuum-home">Residential</a>
                  </li>

                  <li>
                    <a href="quote.html#request-quote">Request A Quote</a>
                  </li>
                </ul>
              </li>

              <li><!-- PORTFOLIO -->
                <a href="index.html#portfolio">
                  PORTFOLIO
                </a>
              </li>
              <li><!-- NEWS -->
                <a href="index.html#news">
                  NEWS
                </a>
              </li>
              <li><!-- CLIENTS -->
                <a href="index.html#clients">
                  CLIENTS
                </a>
              </li>
              <li><!-- CONTACT -->
                <a href="index.html#contact">
                  CONTACT
                </a>
              </li>
            </ul>

          </nav>
        </div>

      </div>
    </header>
    <!-- /Top Nav -->

  </div>



  <!-- REVOLUTION SLIDER -->
  <div class="slider fullwidthbanner-container roundedcorners">

    <div class="fullwidthbanner" data-height="600" data-shadow="0" data-navigationstyle="preview2">
      <ul class="hide">
      
        <!-- SLIDE  -->
        <li data-transition="parallaxtobottom" data-slotamount="7" data-masterspeed="600"  data-saveperformance="off"  data-title="Safety">
          <!-- MAIN IMAGE -->
          <%= image_tag "_rocket/3-main-elevators.jpeg", data: {:bgposition=>"center top", :bgfit=>"cover", :bgrepeat=>"no-repeat"} %>

          <div class="tp-caption white_big skewfromleft tp-resizeme"
            data-x="471"
            data-y="100" 
            data-speed="400"
            data-start="1500"
            data-easing="Power3.easeInOut"
            data-splitin="words"
            data-splitout="none"
            data-elementdelay="0.1"
            data-endelementdelay="0.1"
            data-endspeed="600"
            style="z-index: 2; color:#fff; font-size:65px; line-height:85px; font-weight:bold; letter-spacing:0; text-shadow:none;">
              Rocket Elevators
          </div>

          <div class="tp-caption content_text_center skewfromleft tp-resizeme"
            data-x="530"
            data-y="195" 
            data-speed="500"
            data-start="2000"
            data-easing="Power3.easeInOut"
            data-splitin="none"
            data-splitout="none"
            data-elementdelay="0.1"
            data-endelementdelay="0.1"
            data-endspeed="600"

            style="z-index: 3; font-size:20px; color:#fff; font-weight:300; text-shadow:none;">
              Elevate you home or your commercial building, <br />
              Safety, Speed and Style.
          </div>

          <div class="tp-caption tp-fade"
            data-x="left"
            data-y="25" 
            data-speed="300"
            data-start="800"
            data-easing="Power3.easeInOut"
            data-elementdelay="0.1"
            data-endelementdelay="0.1"
            data-endspeed="300"
            style="z-index: 4;">
              <!-- <img src="demo_files/images/thematics/construction/worker-min.png" alt=""> -->
          </div>

          <div class="tp-caption skewfromleft tp-resizeme  un-button-2-lg"
            data-x="665"
            data-y="300" 
            data-speed="300"
            data-start="2500"
            data-easing="Power3.easeInOut"
            data-splitin="none"
            data-splitout="none"
            data-elementdelay="0.1"
            data-endelementdelay="0.1"
            data-endspeed="300"

            style="z-index: 5; max-width: auto; max-height: auto; white-space: nowrap;">
              <a class="btn btn-danger btn-lg" href="quote.html">GET A QUOTE &nbsp; <i class="fa fa-angle-right"></i></a>
          </div>
        </li>

        <!-- SLIDE  -->
        <li data-transition="parallaxtobottom" data-slotamount="7" data-masterspeed="600"  data-saveperformance="off" data-title="Residential">
          <!-- MAIN IMAGE -->
          <%= image_tag "_rocket/residential-elevator.jpeg", data:{:bgposition=>"center top", :bgfit=>"cover", :bgrepeat=>"no-repeat"} %>

          <div class="overlay dark-4"><!-- dark overlay [0 to 9 opacity] --></div>

          <div class="tp-caption font-roboto skewfromleft tp-resizeme"
            data-x="50"
            data-y="100" 
            data-speed="500"
            data-start="1500"
            data-easing="Cubic.easeOut"
            data-splitin="none"
            data-splitout="none"
            data-elementdelay="0.1"
            data-endelementdelay="0.1"
            data-endspeed="500"
            style="z-index: 2; color:#fff; font-size:65px; line-height:85px; font-weight:bold; letter-spacing:0; text-shadow:none;">
              Residential Elevators  <br />
              Made affordable
              
          </div>

          <div class="tp-caption skewfromrightshort tp-resizeme"
            data-x="50"
            data-y="300" 
            data-speed="500"
            data-start="1000"
            data-easing="easeInCirc"
            data-splitin="none"
            data-splitout="none"
            data-elementdelay="0.1"
            data-endelementdelay="0.1"
            data-endspeed="500"
            style="z-index: 3; font-size:20px; color:#fff; font-weight:300; text-shadow:none;">
              The high-end quality of Our Residential Elevators <br />
              is unequaled.
          </div>

          <div class="tp-caption sfb tp-resizeme"
            data-x="50"
            data-y="410" 
            data-speed="500"
            data-start="1500"
            data-easing="Power3.easeIn"
            data-splitin="none"
            data-splitout="none"
            data-elementdelay="1"
            data-endelementdelay="0.1"
            data-endspeed="500"
            style="z-index: 4; max-width: auto;">
              <a class="btn btn-danger btn-lg" href="residential.html">RESIDENTIAL SERVICES &nbsp; <i class="fa fa-angle-right"></i></a>
          </div>

        </li>

        <!-- SLIDE  -->
        <li data-transition="parallaxtotop" data-slotamount="7" data-masterspeed="600"  data-saveperformance="off" data-title="Commercial">
          <!-- MAIN IMAGE -->
          <%= image_tag "_rocket/3-commercial-elevators.jpeg", data:{:bgposition=>"center top", :bgfit=>"cover", :bgrepeat=>"no-repeat"} %>

          <div class="overlay dark-4"><!-- dark overlay [0 to 9 opacity] --></div>

          <div class="tp-caption font-roboto skewfromleft tp-resizeme"
            data-x="50"
            data-y="100" 
            data-speed="500"
            data-start="1500"
            data-easing="Cubic.easeOut"
            data-splitin="none"
            data-splitout="none"
            data-elementdelay="0.1"
            data-endelementdelay="0.1"
            data-endspeed="500"
            style="z-index: 2; color:#fff; font-size:65px; line-height:85px; font-weight:bold; letter-spacing:0; text-shadow:none;">
              A High end brand for <br />
              Commercial Elevators 
              
          </div>

          <div class="tp-caption skewfromrightshort tp-resizeme"
            data-x="50"
            data-y="300" 
            data-speed="500"
            data-start="1000"
            data-easing="easeInCirc"
            data-splitin="none"
            data-splitout="none"
            data-elementdelay="0.1"
            data-endelementdelay="0.1"
            data-endspeed="500"
            style="z-index: 3; font-size:20px; color:#fff; font-weight:300; text-shadow:none;">
              From London to Tokyo... <br />
              our Lifts impress!
          </div>

          <div class="tp-caption sfb tp-resizeme"
            data-x="50"
            data-y="410" 
            data-speed="500"
            data-start="1500"
            data-easing="Power3.easeIn"
            data-splitin="none"
            data-splitout="none"
            data-elementdelay="1"
            data-endelementdelay="0.1"
            data-endspeed="500"
            style="z-index: 4; max-width: auto;">
              <a class="btn btn-danger btn-lg" href="commercial.html">COMMERCIAL SERVICES &nbsp; <i class="fa fa-angle-right"></i></a>
          </div>

        </li>

      </ul>
                <div class="tp-bannertimer"><!-- progress bar --></div>
    </div>
  </div>
  <!-- /REVOLUTION SLIDER -->

            <!-- <br> -->
			<hr class="m-0" /><!-- 1px line separator -->


			<!--Request a Form-->
			<section id="request-quote">
				<div class="container">
					<div class="heading-title heading-dotted text-center">
						<h2>Request A Quote</h2>
					</div>

					<!-- Form Header-->
					<div  id="border-rad-2" class="p-8 bg-light">
						<div id="border-rad" class="col p-6 mb-8 bg-white border">
							<!--Header text-->
							<div class="row-12 p-3 m-2">
								<h4 class="text-center">Please Select A Building Type Option</h4>
							</div><br><hr>


							<!-- Checkbox -->
							<div class="container align-items-center text-center form-check form-check-inline px-5">
								<form class="type-answer col-sm-12 m-4">
									<label class="checkbox">
										<input type="radio" name="radio-btn" id="res">
										<i name="res"></i> Residential 
									</label>
									<label class="checkbox">
										<input type="radio" name="radio-btn" id="comm">
										<i></i> Commercial
									</label>
									<label class="checkbox">
										<input type="radio" name="radio-btn" id="corp">
										<i></i> Corporate
									</label>
									<label class="checkbox">
										<input type="radio" name="radio-btn" id="hyb">
										<i></i> Hybrid 
									</label>

								</form>
							</div>
						</div>

						<div id="border-rad-3" class="border bg-white p-5">
							<div class="row-lg-4 p-3 mt-9">
								<div class="col-md-12">
									<form id="fields">
										<div id="filled" class="row align-items-center">
											<div class="form-group col-sm-4 py-2 mb-2" id="numApartments">
												<label>Number of Apartments</label>
												<input type="text" id="input_apartments" min="0" oninput="validity.valid||(value='');" class="form-control">
											</div>
											
											<div class="form-group col-sm-4 py-2 mb-2" id="numFloorsHyb">
												<label>Number of Floors<span class="grey text-red"><small> (Excluding Basements)</small></span></label>
												<input type="text" id="input_floorsHyb" min="0" oninput="validity.valid||(value='');" class="form-control">
											</div>

											<div class="form-group col-sm-4 py-2 mb-2" id="numFloorsRes">
												<label>Number of Floors</label>
												<input type="text" id="input_floorsRes" min="0" oninput="validity.valid||(value='');" class="form-control">
											</div>
											
											<div class="form-group col-sm-4 py-2 mb-2" id="numBasements">
												<label>Number of Basements</label>
												<input type="text" id="input_basements" min="0" oninput="validity.valid||(value='');" class="form-control">
											</div>

											<div class="form-group col-sm-4 py-2 mb-2" id="numBusinesses">
												<label>Number of Distinct Businesses</label>
												<input type="text" id="input_businesses" min="0" oninput="validity.valid||(value='');" class="form-control">
											</div>

											<div class="form-group col-sm-4 py-2 mb-2" id="numParking">
												<label>Number of Parking Space</label>
												<input type="text" id="input_parking" min="0" oninput="validity.valid||(value='');" class="form-control">
											</div>

											<div class="form-group col-sm-4 py-2 mb-2" id="numCages">
												<label>Number of Elevator Cages Needed</label>
												<input type="text" id="input_cages" min="0" oninput="validity.valid||(value='');" class="form-control">
											</div>

											<div class="form-group col-sm-4 py-2 mb-2" id="numCompanies">
												<label>Number of Separate Tennant Companies</label>
												<input type="text" id="input_acompanies" min="0" oninput="validity.valid||(value='');" class="form-control">
											</div>

											<div class="form-group col-sm-4 py-2 mb-2" id="numOccupants">
												<label>Number of Occupants Per Floor</label>
												<input type="text" id="input_occupants" min="0" oninput="validity.valid||(value='');" class="form-control">
											</div>

											<div class="form-group col-sm-4 py-2 mb-2" id="numHours">
												<label>Number Of Hours Of Activity Per Day</label>
												<input type="text" id="input_hours" min="0" max="24" oninput="validity.valid||(value='');" class="form-control">
											</div>
										</div>

										<!-- Columns & Shafts -->
										<div class="form-group-2 col-md-12 text-center">
											<h4 class="results text-center">Number Of Columns &amp; Shafts Recommended:</h4>
											<p class="results" id="showColumns"></p>
											<p class="results" id="showElevators"></p>
											<div class="results row justify-content-md-center text-center">
												<p id="qtdElevators" class="text-blue bg-light"></p>
											</div>
											<hr>

											<label class="text-center font-weight-bold">Choose a product line to see the estimate</label>
											<br>

											<!-- radio buttons for selection of elevators-->
											<label class="radio">
											<input id="1" type="radio" name="radio-btn" value="1">
											<i></i> Standard <span class="grey text-blue"><small>($7565/elevator)</small></span>
											</label>

											<label class="radio">
											<input id="2" type="radio" name="radio-btn" value="2">
											<i></i> Premium <span class="grey text-blue"><small>($12,345/elevator)</small></span>
											</label>

											<label class="radio">
											<input id="3" type="radio" name="radio-btn" value="3">
											<i></i> Excelium <span class="grey text-blue"><small>($15,400/elevator)</small></span>
											</label>

											<br><hr>

											<!-- Show Prices -->
											<h3 class="text-center">Estimated Prices:</h3>
											<div id="estimated" class="row justify-content-md-center text-center">
												<div class="col-sm-4">
												<p id="showPrices" class="text-blue bg-light"></p>
												</div>
												<div class="col-sm-4">
												<p id="showFees" class="text-blue bg-light" ></p>
												</div>
												<div class="col-sm-4">
												<p id="showTotal" class="text-blue bg-light font-weight-bold"></p>
												</div>
											</div>
											<br><hr>
											<div id="reset">
												<button type="button" class="btn btn-primary">Clear</button>
											</div>
										</div>
									</form>
								</div><br><hr>
							</div>

						</div>
					</div>
				</div>
			</section>
			<!-- Form Fields -->




			<!-- FOOTER -->
			<footer id="footer">
				<div class="container">


					<div class="row">

						<!-- col #1 -->
						<div class="col-md-8">

							<h3 class="letter-spacing-1">WHY US?</h3>

							<!-- Small Description -->
							<p>
								We have the conviction that we create the most innovative and reliable products on the market. Contact us today for any questions you might have.
							</p>
							<h2>(418) 555-1234</h2>
						</div>
						<!-- /col #1 -->

						<!-- col #2 -->
						<div class="col-md-4">
							<h3 class="letter-spacing-1">KEEP IN TOUCH</h3>

							<!-- Newsletter Form -->
							<p>Subscribe to Our Newsletter to get Important News & Offers</p>

							<form class="validate" action="php/newsletter.php" method="post" data-success="Subscribed! Thank you!" data-toastr-position="bottom-right">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-envelope"></i></span>
									<input type="email" id="email" name="email" class="form-control required" placeholder="Enter your Email">
									<span class="input-group-btn">
										<button class="btn btn-danger" type="submit">Subscribe</button>
									</span>
								</div>
							</form>
							<!-- /Newsletter Form -->


						</div>
						<!-- /col #2 -->

					</div>


				</div>

				<div class="copyright">
					<div class="container">
						&copy; All Rights Reserved, Rocket Elevators LTD
					</div>
				</div>

			</footer>
			<!-- /FOOTER -->

		</div>
		<!-- /wrapper -->


		<!-- SCROLL TO TOP -->
		<a href="#" id="toTop"></a>